.contact-header{
    background:#1B5E20;
    color:white;
    padding:80px 0;
}
.contact-header h1{
    font-size:50px;
    font-weight:700;
}
.contact-header p{
    margin-top:15px;
    font-size:18px;
}
.contact-section{
    padding:80px 0;
    background:#f8f8f8;
}
.contact-info,
.contact-form{
    background:white;
    border-radius:20px;
    padding:40px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}
.contact-info h3,
.contact-form h3{
    color:#1B5E20;
    margin-bottom:25px;
    font-weight:700;
}
.info-item{
    display:flex;
    margin-top:30px;
}
.info-item i{
    width:55px;
    height:55px;
    background:#1B5E20;
    color:white;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:18px;
    font-size:20px;
}
.info-item h5{
    color:#1B5E20;
    margin-bottom:5px;
}
.contact-form input,
.contact-form textarea{
    border-radius:12px;
    padding:14px;
}
.contact-btn{
    width:100%;
    border:none;
    background:#D4A017;
    color:white;
    padding:14px;
    border-radius:40px;
    font-weight:600;
    transition:.3s;
}
.contact-btn:hover{
    background:#1B5E20;
}