.policy-header{

    background:#1B5E20;
    color:white;
    padding:70px 0;
    text-align:center;

}

.policy-content{

    padding:70px 0;

}

.policy-box{

    background:#fff;
    border-radius:15px;
    padding:40px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.policy-box h3{

    color:#1B5E20;
    margin-top:30px;

}

.policy-box p{

    color:#555;
    line-height:1.9;

}